@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	background: linear-gradient(45deg, #d0ecff, #f7e2ff, #ffecec, #c9e9ff);
	background-size: 500% 500%;
	animation: gradientAnimation 15s infinite;
	overflow-y: auto;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	text-align: center;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 1rem 0;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer a {
	color: #fff;
	text-decoration: none;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.container-padding {
	padding: 10px;
}

.container-item {
	width: 300px;
	background-color: #fff;
	border-radius: 8px;
	margin: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-choose {
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.container-choose:hover {
	transform: scale(1.05);
}

.container-item>img {
	width: 35%;
	border-radius: 8px;
	margin: 10px 20px 10px 10px;
	object-fit: cover;
	overflow: hidden;
	font-size: 0.8rem;
}

.container-fixed-height {
	height: 160px;
}

.form-field {
	margin-bottom: 15px;
}

.form-field label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-field input {
	width: calc(100% - 20px);
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form-field button {
	width: 100%;
	padding: 10px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#image-details {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 2;
}


.image-details-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	transition: transform 0.5s ease;
}

.image-details-item {
	flex: 0 0 100vw;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

#image-details img {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-height: 100%;
	max-width: 100%;
}

.image-details-black-background {
	/* 完全覆蓋黑色 */
	position: fixed;
	width: 200%;
	height: 200%;
	background: rgba(0, 0, 0, 0.8);
}

.nav-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
	border: none;
	outline: none;
	text-align: center;
	font-size: max(4vw, 20px);
	height: 8vh;
	width: 12vw;
	color: #292929;
}

.left-button {
	left: 0;
	border-radius: 0 5px 5px 0;
}

.right-button {
	right: 0;
	border-radius: 5px 0 0 5px;
}

.container-details {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.details-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	text-align: center;
	height: 85%;
	overflow-y: auto;
	font-size: larger;
}

.details-content img {
	width: 100%;
	border-radius: 8px;
	max-height: 80%;
	object-fit: cover;
	overflow: hidden;
	max-width: 600px;

}

.close-btn {
	cursor: pointer;
	color: #000000;
	font-size: 30px;
	float: right;
	margin-top: -15px;
}

.lady-body-tags {
	padding: 0.2rem 0.6rem;
	line-height: 1.2rem;
	border-radius: 1.2rem;
	color: #ffffff;
	display: inline-block;
	margin: 2px;
}

.container-item .lady-body-tags {
	padding: 0 0.6rem;
	font-size: 0.8rem;
}

.feedback-container+div {
	margin-left: 5px;
	font-size: 0.8rem;
}

.container-item .feedback-container {
	display: flex;
	align-items: center;
	margin: 5px
}

.details-content .feedback-container {
	display: flex;
	align-items: center;
	justify-content: center;

}

.container-item .feedback-container img {
	width: 15px;
	height: 15px;
}

.details-content .feedback-container img {
	width: 28px;
	height: 28px;
}

.send-menu-btn {
	display: block;
	padding: 0.2rem;
	border-radius: 0.5rem;
	color: #ffffff;
	background-color: rgb(252, 122, 108);
	border: 2px solid #3d3d3d;
	box-shadow: 3px 3px 2px rgb(255 0 0 / 30%);
}

.time-choose-btn {
	border-radius: 1.2rem;
	background-color: #e7e7e7;
	font-size: 0.8rem;
	padding: 8px;
	margin-bottom: 8px;
}

.time-choose-btn.selected {
	background-color: #4CAF50;
	color: white;
}